<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.1"
        id="jqmSample">
 
  <author href="http://www.appendto.com/"
          rim:copyright="Copyright 1998-2012 appendTo, LLC">appendTo, LLC</author>
 
  <name>jQuery Mobile Sample</name>
 
  <description>
    A sample application to demonstrate building jQuery Mobile applications for the BB10 WebWorks Platform.
  </description>
 
 
 
  <content src="index.html" rim:allowInvokeParams="true"/>
 
 
</widget>
